body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.header {
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-left: 0;
}
.p {
    font-size: 10px;
    color: #000000;
    margin-bottom: 12px;
}

.navbar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar nav ul li {
    margin: 0 15px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #333;
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions .login, .user-actions .cart {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.sub-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    padding: 10px 20px;
    color: #fff;
}

.category-select select, .search-bar input, .search-bar button {
    padding: 5px;
    margin-right: 10px;
}

.promotions span {
    margin-right: 20px;
}

.breadcrumb {
    margin: 20px;
    font-size: 14px;
}

.breadcrumb a {
    text-decoration: none;
    color: #4CAF50;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-image img {
    max-width: 700px;
}

.login-form {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    margin-left: 30px;
}

.login-form h2 {
    color: #4CAF50;
    margin-bottom: 10px;
}

.login-form p {
    color: #777;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.forgot-password {
    text-align: right;
}

.forgot-password a {
    text-decoration: none;
    color: #4CAF50;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.signup-link {
    margin-top: 15px;
}

.signup-link a {
    color: #4CAF50;
    text-decoration: none;
}