.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    align-items: center;
}

.header-left {
    display: flex;
    flex-direction: column;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right a {
    text-decoration: none;
    color: black;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    background-color: #39b54a;
    padding: 10px;
    color: white;
    align-items: center;
}

.categories select, .search-bar input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-bar {
    flex-grow: 1;
    margin: 0 20px;
}

.main-nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

main {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
}

.main-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.large-banner, .small-banner {
    padding: 20px;
    text-align: center;
}

.large-banner {
    flex: 2;
}

.small-banners {
    display: flex;
    gap: 20px;
}

.small-banner {
    flex: 1;
}

footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}